@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme {
    --font-roboto: Roboto, "sans-serif";
    --color-danube-950: #283343;
    --color-danube-900: #3B526D;
    --color-danube-800: #466287;
}